/*

Prevent Scrolling-Errors Modal and right scrollbar

*/
html {
	overflow-y: scroll !important;
}
.modal-open {
  	padding-right: 0 !important;    	
}
.table_klausuren
{	
	width: 80%; 
	background-color: #A1A1A1; 
	border: solid 5px; 
	border-color: #A1A1A1;

}
.table_klausuren, td
{	
	padding: 5px;
}

/*
Scroll to Top-Button
*/
.scrollToTop{
	font-size: 2.5em;
	color: #000000;
	position:fixed;
	top:79%;
	right:16%;
	display:none;		
}
.scrollToTop:hover{
	text-decoration:none;
	color: #000000;
}
.scrollToTop:active{
	text-decoration:none;
	color: #000000;
}
