<div class="panel panel-default">
  <div class="panel-heading">
    <h3><b>Kalender</b><div style="margin-top: -10px; float: right"><button class="btn btn-primary" title="Neuen Termin erstellen" ng-click="newDate()">Neuer Termin</button></div></h3>
  
  </div>
  <div class="panel-body">
    

    
  <div id="calendar"></div>

</div>   

<!-- MODAL New Date -->
<div id="newdate" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
    	<div class="modal-header">              
        <h4 ng-show="!dateTodo" class="modal-title">Neuen Termin erstellen</h4>
        <h4 ng-show="dateTodo" class="modal-title">Termin aktualisieren
        <div style="float: right">
          <button type="button" class="btn btn-danger" ng-click="doDeleteDate()"><span class="glyphicon glyphicon-trash"></span></button>
        </div></h4>
      </div>
      <div class="modal-body">      
      <table>      	
      	<tr>
      		<td>Titel:&nbsp;</td><td><input type="text" class="form-control" size="40" id="date_title" placeholder="Titel des Termines"></td>
          <td>Farbe:&nbsp;</td><td><input type="color"  size="20" id="date_color"></td>
      	</tr>
      	
      	<tr>
      		<td>Von:&nbsp;</td><td><input type="date" class="form-control" size="20" id="date_start" ng-model="holder" ng-change="updateEndDate()" /></td>
      		<td>Zeit:&nbsp;</td><td><input type="time" class="form-control" size="20" id="date_start_time" ng-model="holder2" ng-change="updateEndTime()"/></td>
      	</tr>
      	<tr>
      		<td>Bis:&nbsp;</td><td><input type="date" class="form-control" size="20" id="date_end" /></td>
      		<td>Zeit:&nbsp;</td><td><input type="time" class="form-control" size="20" id="date_end_time"/></td>
      	</tr>
      	<tr ng-show="!dateTodo">
      		<td>Wdh.:&nbsp;</td><td><input type="checkbox" title="Wöchentliche Wiederholung bis einschließlich dem angegebenen Termin aktivieren/deaktivieren" ng-click="activateWeek()"  value="week_true" size="10" id="date_week_true" />&nbsp;wöchentliche Wdh.</td>
      		<td>bis:&nbsp;</td><td><input type="date" class="form-control" size="20" id="date_week_end"/></td>
      	</tr>
        <tr>
          <td>Kurztext:&nbsp;</td><td><input type="text" class="form-control" size="40" id="date_short" placeholder="Kurze Information"></td>
        </tr>
        <tr>
          <td valign="top">Informationen:&nbsp;</td><td><textarea class="form-control" rows="5" style="resize: none" placeholder="Detailierte Informationen" id="date_info"></textarea></td>
        </tr>
      </table>       
      <div id="inputerr" class="alert alert-danger">{{errmess}}</div>
      <br />      
      <div style="float: left;">      
		<button type="button" class="btn btn-default" data-dismiss="modal">Abbrechen</button>&nbsp;            					
	  	<button ng-if="!dateTodo" type="button" class="btn btn-primary" ng-click="saveNewDate()">Termin/e speichern</button> 
      <button ng-if="dateTodo" type="button" class="btn btn-primary" ng-click="doUpdateDate()">Termin aktualisieren</button>      
      </div>
      <br /><br />
      </div>      
    </div>
  </div>
</div>

<!-- MODAL Show unit -->
<div id="showunit" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">              
        <h4 class="modal-title">Stundeninfo&nbsp;{{tempclassname}}&nbsp;am&nbsp;{{tempdate}}</h4>
        <span style="float: right; margin-top: -28px;">

        <button type="button" class="btn btn-primary" title="Kursplanung betrachten" ng-click="switchToClassPlan(tempclassid)"><span class="glyphicon glyphicon-list"></span></button>   
        <button type="button" class="btn btn-success" title="Anwesenheit" ng-click="unitAttendance(tempunitid)"><span class="glyphicon glyphicon-time"></span>
        </button>    
        </span>
      </div>
      <div class="modal-body">      
      <table>       
        <tr>
          <td>Titel:&nbsp;</td><td><input type="text" class="form-control" size="40" id="unit_title" placeholder="Titel der Stunde" disabled="true"></td>         
        </tr>        
        <tr>
          <td>Kurzinfo:&nbsp;</td><td><input type="text" disabled="true" class="form-control" size="40" id="unit_short" placeholder="Kurze Information" ></td>
        </tr>
        <tr>
          <td valign="top">Informationen:&nbsp;</td><td><textarea disabled="true" class="form-control" rows="5" style="resize: none" placeholder="Detailierte Informationen" id="unit_info" ></textarea></td>
        </tr>
      </table>   
      <div style="float: left;">      
    <button type="button" class="btn btn-primary" data-dismiss="modal">Schliessen</button>&nbsp;                     
       </div>
      <br /><br />
      </div>      
    </div>
  </div>
</div>